<div class="p-4 overflow-auto max-w-full h-screen mt-14 pb-14">  
<!-- Condición para mostrar la tabla solo si hay propiedades en la lista de comparación -->
  <div *ngIf="compareList().length > 0; else noCompareMessage" class="overflow-auto max-w-full max-h-[calc(100vh-4rem)]">
    <app-compare-table [itemList]="this.compareList()"></app-compare-table>
  </div>

  <!-- Mensaje cuando no hay propiedades seleccionadas -->
  <ng-template #noCompareMessage>
    <div class="text-center text-lg text-gray-600">
      No hay propiedades seleccionadas para comparar.
    </div>
  </ng-template>
</div>