<!-- Contenedor principal -->
<div
  class="flex flex-col md:flex-row justify-center items-center min-h-screen"
>
  <!-- Botones centrados -->
  <ion-button
    expand="block"
    color="tertiary"
    class="w-64 h-64 lg:w-80 lg:h-80 text-white rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-300 mx-4 mb-4 md:mb-0"
    (click)="goToUserList()"
    >
    <ion-icon slot="start" name="person" class="text-4xl mr-2"></ion-icon>
    <span class="text-lg">Administrar usuarios</span>
    </ion-button>

    <ion-button
    expand="block"
    color="tertiary"
    class="w-64 h-64 lg:w-80 lg:h-80 text-white rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-300 mx-4 mb-4 md:mb-0"
    (click)="goToPropertyListAdmin()"
  >
    <div class="flex flex-col items-center">
      <div class="flex">
        <ion-icon slot="start" name="home" class="text-3xl mr-1"></ion-icon>
        <ion-icon slot="start" name="cog" class="text-3xl mr-1"></ion-icon>
      </div>
      <span class="text-sm mt-2">Administrar propiedades</span>
    </div>
  </ion-button>
</div>
