<p>layout works!</p>

<div class="h-screen flex flex-col">
    <!-- Encabezado general del sitio -->
    <header class="w-full">
      <app-navbar></app-navbar>
    </header>
  
    <!-- Contenido específico de cada página -->
    <main class="flex-grow mt-4">
      <ng-content></ng-content>
    </main>
  
    <!-- Pie de página general -->
    <footer class="w-full text-center text-gray-600 border-t border-gray-200 py-4 mt-auto bg-transparent">
      © 2024 Nuestra Aplicación Inmobiliaria
    </footer>
 </div>
  