<div class="w-full pt-24 p-6 bg-white shadow rounded-2xl space-y-8 overflow-y-auto h-screen border">
  <form [formGroup]="filtrosForm" class="space-y-9">
    
    <!-- Habitaciones -->
    <div >
      <h2 class="text-lg font-semibold text-gray-700 mb-4">Habitaciones</h2>
      <ion-radio-group 
        formControlName="habitaciones" 
        class="grid grid-cols-5 gap-8"
      >
        <div 
          *ngFor="let habitacion of habitaciones" 
          class="flex flex-col items-center"
        >
          <ion-radio 
            [value]="habitacion === '5+' ? '5+' : habitacion" 
            color="medium"
          >
          </ion-radio>
          <ion-label 
            class="text-xs mt-1">{{ habitacion }}
          </ion-label>
        </div>
      </ion-radio-group>
    </div>
    
    <!-- Precio -->
    <div>
      <h2 class="text-lg font-semibold text-gray-700 mb-2">Rango de Precios</h2>
      <ion-range 
        min="20000" 
        max="300000" 
        step="100" 
        dualKnobs="true"
        [value]="{ lower: filtrosForm.value.minPrice, upper: filtrosForm.value.maxPrice }"
        (ionInput)="updatePriceRange($event)"
        class="w-full"
        color="medium"
      ></ion-range>
      <p class="text-sm text-gray-500 mt-2">
        Precio: ${{ filtrosForm.value.minPrice }} - ${{ filtrosForm.value.maxPrice === 10000 ? 
          filtrosForm.value.maxPrice + '+' : filtrosForm.value.maxPrice }}
      </p>
    </div>

    <!-- Departamento -->
    <div>
      <h2 class="text-lg font-semibold text-gray-700 mb-2">Departamento</h2>
      <ion-select 
        formControlName="departamento" 
        class="w-full border border-gray-300 rounded-lg p-2 text-gray-700" 
        interface="popover" 
        placeholder="Seleccione un departamento" 
      >
        <ion-select-option 
          *ngFor="let depto of departamentos" 
          [value]="depto">{{depto}}
        </ion-select-option>
      </ion-select>
    </div>
    

    <!-- Restablecer -->
    <div class="pt-4">
      <button 
        type="button" 
        (click)="resetFilters()" 
        class="w-full bg-customGreen text-white rounded px-4 py-2"
      >
        Restablecer Filtros
      </button>
    </div>
    
  </form>
</div>
