<ion-content class="ion-padding">
  <ion-button class="ion-margin-top" (click)="goToAdminPanel()" fill="solid" color="primary">
    Volver
  </ion-button>

  <div class="ion-margin-top">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list-header>Lista de Usuarios</ion-list-header>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button (click)="createUser()" fill="solid" color="primary">
            <ion-icon name="add-outline"></ion-icon>
            Crear usuario
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let user of userList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ user.name }} {{ user.lastname }}</ion-card-title>
            <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6">
                <p>ID: {{ user.id }}</p>
                <!-- Si el rol es admin, lo mostramos en verde, sino en naranja, utilizando tailwind y ionic --->
                @if (user.role === 'admin') {
                  <p class="bg-green-200 text-green-800 rounded-full px-2">Rol: Admin</p>
                } @else {
                  <p class="bg-yellow-200 text-yellow-800 rounded-full px-2">Rol: User</p>
                }
              </ion-col>
              <ion-col size="6" class="ion-text-end">
                <p>Registro: {{ formatRegistrationDate(user.registration_date) }}</p>
                <ion-button (click)="editUser(user.id)" fill="clear" color="primary">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="openDeleteTab(user.id.toString())" fill="clear" color="danger">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-confirmation-tab *ngIf="showConfirmationTab" (confirmed)="confirmDelete()" (canceled)="showConfirmationTab = false"></app-confirmation-tab>
</ion-content>


