<ion-grid class="max-w-screen-md ml-4">
  <!-- Fila de encabezado de la tabla -->
  <ion-row class="font-semibold text-sm text-left border-b">
    <ion-col size="3" class="px-4 py-2 border-r">Propiedad</ion-col>
    <ion-col size="2" class="px-4 py-2 border-r">Precio</ion-col>
    <ion-col size="2" class="px-4 py-2 border-r">Ubicación</ion-col>
    <ion-col size="2" class="px-4 py-2 border-r">Habitaciones</ion-col>
    <ion-col size="2" class="px-4 py-2">Baños</ion-col>
  </ion-row>

  <!-- Fila de datos de las propiedades -->
  <ion-row *ngFor="let compareItem of compareList()" class="border-b">
    <ion-col size="3" class="px-4 py-2 text-sm"
      >{{ compareItem.property.title }}</ion-col
    >
    <ion-col size="2" class="px-4 py-2 text-sm"
      >${{ compareItem.property.price }}</ion-col
    >
    <ion-col size="2" class="px-4 py-2 text-sm"
      >{{ compareItem.property.location }}</ion-col
    >
    <ion-col size="2" class="px-4 py-2 text-sm"
      >{{ compareItem.property.number_of_rooms }}</ion-col
    >
    <ion-col size="2" class="px-4 py-2 text-sm"
      >{{ compareItem.property.number_of_bathrooms }}</ion-col
    >
  </ion-row>
</ion-grid>