<div class="fixed inset-0 bg-gray-50 bg-[url('https://i.imgur.com/vbWMrvU.jpeg')] bg-cover bg-center">
  <div class="flex h-full items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md z-10">
      <div class="bg-transparent backdrop-blur-md border border-white py-6 px-4 shadow sm:rounded-lg sm:px-10">
        <h2 class="text-center text-3xl font-bold tracking-tight text-white">
          Create your account
        </h2>
        
        <form [formGroup]="validateRegister" class="mt-6 space-y-4" (ngSubmit)="this.onSubmitRegister()">
          <!-- Nombre -->
          <div>
            <label for="name" class="block text-sm font-bold text-white">Name</label>
            <div class="mt-1">
              <input
                formControlName="name"
                id="name"
                name="name"
                type="text"
                required=""
                [ngClass]="{'border-red-500': validateRegister.get('name')?.invalid && validateRegister.get('name')?.touched}"
                class="block w-full appearance-none rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 text-white focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              />
              <div *ngIf="validateRegister.get('name')?.invalid && validateRegister.get('name')?.touched">
                <small class="text-red-500 text-xs italic" *ngIf="validateRegister.get('name')?.errors?.['nameError']">
                  {{ validateRegister.get('name')?.errors?.['nameError'] }}
                </small>
              </div>
            </div>
          </div>

          <!-- Apellido -->
          <div>
            <label for="lastname" class="block text-sm font-bold text-white">LastName</label>
            <div class="mt-1">
              <input
                formControlName="lastname"
                id="lastname"
                name="lastname"
                type="text"
                required=""
                [ngClass]="{'border-red-500': validateRegister.get('lastname')?.invalid && validateRegister.get('lastname')?.touched}"
                class="block w-full appearance-none rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 text-white focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              />
              <div *ngIf="validateRegister.get('lastname')?.invalid && validateRegister.get('lastname')?.touched">
                <small class="text-red-500 text-xs italic" *ngIf="validateRegister.get('lastname')?.errors?.['lastnameError']">
                  {{ validateRegister.get('lastname')?.errors?.['lastnameError'] }}
                </small>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div>
            <label for="email" class="block text-sm font-bold text-white">Email address</label>
            <div class="mt-1">
              <input
                formControlName="email"
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                required=""
                [ngClass]="{'border-red-500': validateRegister.get('email')?.invalid && validateRegister.get('email')?.touched}"
                class="block w-full appearance-none rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 text-white focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              />
              <div *ngIf="validateRegister.get('email')?.invalid && validateRegister.get('email')?.touched">
                <small class="text-red-500 text-xs italic" *ngIf="validateRegister.get('email')?.errors?.['emailError']">
                  {{ validateRegister.get('email')?.errors?.['emailError'] }}
                </small>
              </div>
            </div>
          </div>

          <!-- Contraseña -->
          <div>
            <label for="password" class="block text-sm font-bold text-white">Password</label>
            <div class="mt-1">
              <input
                formControlName="password"
                id="password"
                name="password"
                type="password"
                required=""
                [ngClass]="{'border-red-500': validateRegister.get('password')?.invalid && validateRegister.get('password')?.touched}"
                class="block w-full appearance-none rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 text-white focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              />
              <div *ngIf="validateRegister.get('password')?.invalid && validateRegister.get('password')?.touched">
                <small class="text-red-500 text-xs italic" *ngIf="validateRegister.get('password')?.errors?.['passwordError']">
                  {{ validateRegister.get('password')?.errors?.['passwordError'] }}
                </small>
              </div>
            </div>
          </div>

          <!-- Confirmar Contraseña -->
          <div>
            <label for="confirmPassword" class="block text-sm font-bold text-white">Confirm Password</label>
            <div class="mt-1">
              <input
                formControlName="confirmPassword"
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                required=""
                [ngClass]="{'border-red-500': validateRegister.get('confirmPassword')?.invalid && validateRegister.get('confirmPassword')?.touched}"
                class="block w-full appearance-none rounded-md border border-gray-300 bg-transparent px-3 py-2 placeholder-gray-400 text-white focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              />
              <div *ngIf="validateRegister.get('confirmPassword')?.invalid && validateRegister.get('confirmPassword')?.touched">
                <small class="text-red-500 text-xs italic"> La contraseña confirmada es requerida.</small>
                <br>
                <small class="text-red-500 text-xs italic" *ngIf="validateRegister.get('confirmPassword')?.errors?.['repeatPasswordError']">
                  {{ validateRegister.get('confirmPassword')?.errors?.['repeatPasswordError'] }}
                </small>
              </div>
            </div>
          </div>

          <!-- Botón de registro -->
          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              Create account
            </button>
          </div>

          <!-- Link para iniciar sesión -->
          <div class="text-center">
            <p class="text-sm text-white">
              Already have an account? 
              <a href="/login" class="font-medium text-indigo-400 hover:text-indigo-300">Sign in here</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>