<ion-split-pane contentId="main-content" when="lg">
  <!-- Sidebar -->
  <ion-menu
    contentId="main-content"
    menuId="filterMenu"
    side="start"
    class="w-full lg:w-64">
    <app-filters
      (filtrosAplicados)="aplicarFiltros($event)"
    >
    </app-filters>
  </ion-menu>

  <ion-router-outlet id="main-content">

    <div 
      class="overflow-auto max-w-full h-screen mt-14 pb-16">

      <!-- Botón de filtro mobile -->
      <div
        class="lg:hidden p-2 mt-7 flex justify-center">
        <ion-menu-toggle
          menu="filterMenu">
          <ion-button
            shape="round"
            fill="outline"
            color="medium"
          >
            <ion-icon
              name="filter-outline"
              class="mr-2">
            </ion-icon>
              Filtros
          </ion-button>
        </ion-menu-toggle>
      </div>
      <ion-grid
        class="min-w-full">
        <ion-row class="justify-center">
          <ion-col
            *ngFor="let property of this.properties"
            class="w-full sm:max-w-[500px] md:max-w-[300px]
            min-w-[300px] max-h-[400px] min-h-[300px]"
          >
            <app-property-card [property]="property"></app-property-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-router-outlet>
</ion-split-pane>
