<div class="mt-14 pb-14 h-screen overflow-y-auto bg-gray-50">
  <ion-header>
    <ion-toolbar class="bg-transparent">
      <ion-title class="text-green-800 font-semibold text-4xl">RentMatch</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="mb-6 shadow-lg h-full">
          <ion-card-header>
            <ion-card-title class="text-2xl font-bold text-purple-800">Encuentra el mejor alquiler para ti</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="text-gray-700">
              En RentMatch, te ayudamos a encontrar el alquiler perfecto comparando miles de propiedades en un solo lugar. Ahorra tiempo y dinero con nuestras herramientas de comparación fáciles de usar.
            </p>
          </ion-card-content>
          <ion-card class="mb-6 shadow-none mt-5">
            <ion-card-title class="text-xl font-bold text-purple-800">Cómo Funciona</ion-card-title>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label class="text-purple-800 font-semibold">1. Busca: Introduce tus criterios de búsqueda (ubicación, precio, tipo de propiedad, etc.).</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="text-purple-800 font-semibold">2. Compara: Revisa las opciones disponibles y compara características clave.</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label class="text-purple-800 font-semibold">3. Decide: Elige la propiedad que mejor se adapte a tus necesidades y contacta al arrendador.</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="mb-6 shadow-lg h-full">
          <ion-card-header>
            <ion-card-title class="text-2xl font-bold text-purple-800">¿Por qué elegir RentMatch?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="mb-6">
              <ion-item>
                <ion-icon name="speedometer-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Comparación Rápida y Fácil</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="albums-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Amplia Base de Datos</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="options-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Filtros Personalizados</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
          <ion-card class="mb-6 shadow-none h-full">
            <ion-card-header>
              <ion-card-title class="text-2xl font-bold text-purple-800">Testimonios</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-label class="text-gray-700">"RentMatch me ayudó a encontrar el apartamento perfecto en solo unos días. ¡Muy recomendable!" - Ana G.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="text-gray-700">"La herramienta de comparación es increíblemente útil y fácil de usar. Encontré un alquiler que se ajusta a mi presupuesto y necesidades." - Carlos M.</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="mb-2">
      <ion-col>
        <ion-card class="mb-6 shadow-lg h-full">
          <ion-card-header>
            <ion-card-title class="text-2xl font-bold text-purple-800">Contáctanos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon name="mail-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Email: contacto&#64;rentmatch.com</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="call-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Teléfono: +598 99 999 999</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="location-outline" slot="start" class="text-purple-600"></ion-icon>
                <ion-label class="text-gray-700">Dirección: Artigas 1251, Salto, Departamento de Salto, Uruguay</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
