<header class="w-full h-16 flex items-center justify-around fixed top-0 left-0 z-50 bg-[#386150]">
    <nav class="navbar flex items-center w-full justify-between transition-width duration-200 ease">
        <ul class="navbar-nav list-none p-0 m-0 flex flex-row">
            <li class="nav-item" id="login-item">
                <a href="/" class="nav-link flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6">
                        <path fill="currentColor" class="fa-primary" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                    </svg>
                    <span class="link-text ml-2">Login</span>
                </a>
            </li>
            <li class="nav-item" id="logout-item" style="display: none;">
                <a href="#" class="nav-link flex items-center" id="logout-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6">
                        <path fill="currentColor" class="fa-primary" d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                    </svg>
                    <span class="link-text ml-2">Logout</span>
                </a>
            </li>
        </ul>
        <div id="user-info"></div>
    </nav>
</header>
