<div class="p-4 overflow-auto max-w-full h-screen mt-14 pb-14">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 pb-14">
    <ion-card class="md:col-span-3 bg-card rounded-lg p-4 mb-4">
      <ion-card-header class="flex flex-row">
        <ion-card-title class="text-2xl font-bold mb-2 flex-1"
          >{{property?.title}}</ion-card-title
        >
        <button
          class="ml-2 text-amber-400 rounded-full p-2 bg-transparent self-center"
          (click)="toggleFavorite()"
        >
          <ion-icon
            [name]="isFavorite() ? 'star' : 'star-outline'"
            class="text-2xl"
          ></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <h2 class="text-lg mb-2 border-b">{{property?.description}}</h2>
        <ul class="text-base">
          <li class="flex items-center">
            Numero de habitaciones
            <ion-icon name="bed-outline" class="ml-2 text-red-500"></ion-icon>:
            {{property?.number_of_rooms}}
          </li>
          <li class="flex items-center">
            Numero de baños
            <ion-icon name="water-outline" class="ml-2 text-blue-500"></ion-icon
            >: {{property?.number_of_bathrooms}}
          </li>
          <li class="flex items-center">
            Ubicación
            <ion-icon
              name="location-outline"
              class="ml-1 text-green-500"
            ></ion-icon
            >: {{property?.departamento}}, {{property?.barrio}}
          </li>
        </ul>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 mb-4 border-b border-t items-center">
          <img
            src="{{property?.main_img_url}}"
            alt="Property Image 1"
            class="rounded-lg h-[90%]"
          />
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="md:col-span-1 bg-card rounded-lg p-3 mb-4">
      <ion-card-header>
        <ion-card-title class="text-lg font-bold mb-2"
          >Contacto del vendedor</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <p class="text-base">
          Por dudas y concertar una visita, contacta a:
        </p>
        <ul class="text-base">
          <li>{{property?.contact_data}}</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</div>
